/* цвет заголовков #212121; */
/* цвкет текста #757575; */
/* цвет фона: #FFFFFF; */
/* цвет лого #2196F3; и #000000; */
/* цвет навигации при наведении #2196F3; */
/* вторичный цвет фона футера и героя background: #2F303A; */
/* вторичный цвет фона секции 2 background: #F5F4FA; */
/* акцент #2196F3; */
/* вторичний цвет текста rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-color-1: #2f303a;
  --background-color-2: #f5f4fa;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* logo */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.color-logo {
  color: #000000;
}

.logo-footer {
  display: flex;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
}

.color-logo-footer {
  color: #ffffff;
}

/* site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.style-header {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
}

/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon-heder {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  align-items: center;
  fill: var(--primary-text-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover .icon-heder,
.auth-nav .link:focus .icon-heder {
  fill: var(--accent-color);
}

/* hero */

.hero {
  text-align: center;
  background-color: var(--background-color-1);
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  height: 600;
  max-width: 1600;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
}

.button-close {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: auto;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.icon-close {
  display: block;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: #2196f3;
}

/* Форма модального окна */

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-field input {
  margin: 0px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: left;

  letter-spacing: 0.01em;
  color: #757575;
}

.form-field:nth-child(4) {
  margin-bottom: 0;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: #212121;
}

.form-field:focus-within > .icon-form {
  fill: #2196f3;
}

.form-field:focus-within > .form-label {
  color: #2196f3;
}

.form-input:hover,
.form-input:focus {
  border-color: #2196f3;
}

.form-policy {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-policy label {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  align-items: center;
}

.input-policy {
  margin-right: 7px;
  appearance: none;
  position: absolute;
}

.link-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.input-policy:checked + .icon-checkbox {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.button.policy {
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.policy:hover,
.button.policy:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* button */

button {
  font-family: inherit;
}

.button {
  display: inline-block;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-color);
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
}

.button.primary {
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--background-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--background-color);
  color: var(--accent-color);
}

.button.secondary {
  padding: 6px 22px;
  background-color: var(--background-color-2);
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-nav .item + .item {
  margin-left: 9px;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 94px;
  padding-bottom: 0px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* features */

.feature-list {
  display: flex;
}

.hide {
  display: none;
}

.feature-list .item {
  margin-right: 30px;
}

.feature-list .item:last-child {
  margin-right: 0px;
}

.feature-icon-bg {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.feature-icon {
  display: block;
  width: 70px;
  height: 70px;
  justify-content: center;
}

.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}

/* pictures */

.pictures {
  display: flex;
}

.pictures .item {
  margin-right: 30px;
  position: relative;
}

.pictures .item:last-child {
  margin-right: 0;
}

.picture-description {
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.picture-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/* team list */

.team {
  background-color: var(--background-color-2);
}

.team-list {
  display: flex;
}

.team-list .item {
  background-color: var(--background-color);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  width: 206px;
}
.social-team {
  display: flex;
}

.icon-social-team {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-team:hover,
.icon-social-team:focus {
  fill: #ffffff;
}

.social-team .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  box-shadow: none;
}

.social-team .social-item:last-child {
  margin-right: 0px;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
}

.team-social-link:hover .icon-social-team,
.team-social-link:focus .icon-social-team {
  fill: #fff;
}

/* clients-list */

.clients-list {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}

.clients-list .item {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients-list .item:last-child {
  margin-right: 0;
}

.link-clients {
  display: flex;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus {
  border: 1px solid #2196f3;
}

.link-clients:hover .logo-clients,
.link-clients:focus .logo-clients {
  color: #2196f3;
  fill: #2196f3;
}

.logo-clients {
  display: block;
  fill: #afb1b8;
}

.first-logo {
  width: 41px;
  height: 47px;
}

.second-logo {
  width: 40px;
  height: 52px;
}

.third-logo {
  width: 44px;
  height: 42px;
}

.forse-logo {
  width: 85px;
  height: 41px;
}
.fifes-logo {
  width: 63px;
  height: 43px;
}

.sixes-logo {
  width: 94px;
  height: 44px;
}

/* footer */

.footer {
  background-color: var(--background-color-1);
}

.address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.address .item {
  margin-bottom: 9px;
}

.address .item:nth-last-child(-n + 1) {
  margin-bottom: 0px;
}

.address .text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.address .item .address .text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}
.address .link {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.our-social .text {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.icon-social {
  display: block;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.social-list .item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-list .item:last-child {
  margin-right: 0px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}

.style-footer {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
}

.style-footer-form {
  margin-left: 93px;
}

.footer-field {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-1);
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-send-button {
  position: relative;
}

.fotter-button-text {
  margin-right: 63px;
}
.logo-form-send {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 148px;
  transform: translateY(-50%);
  fill: #fff;
}

.form-send-button:hover .logo-form-send {
  fill: #2196f3;
}

.footer-input:hover,
.footer-input:focus {
  border-color: rgba(255, 255, 255, 0.3);
}

/* страница портфолио */

.card-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.section .link-card {
  display: block;
  text-decoration: none;
}

.section .text-card {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* title portfolio */
.title-portfolio {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-nav {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  overflow: hidden;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:nth-child(3n) {
  margin-right: 0px;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-item-footer {
  padding: 20px 24px;
}

.card-item:focus,
.card-item:hover {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-description {
  position: absolute;

  padding: 63px 24px;
  width: 370px;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-dcp-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.58;

  color: #ffffff;
}

.card-item-content {
  position: relative;
  overflow: hidden;
}

.card-item:hover .card-description {
  opacity: 1;
  transform: translateY(0%);
}
